# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Nx
.nx/
dist/
tmp/
.cache/

# Vite
.vite/

# Env files
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Vercel
.vercel/
